* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #393939;
  background-image: url("imagesGhibli/totoroHalf.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-attachment: fixed;
  background-size: 80%;
}
.directorsList{
  font-size: 18pt;
  font-weight: bold;
  color: #2f2f2f;
}
.directorsList:hover{
  color: #109CEB;
}
.directorSpan{
  font-size: 16pt;
  list-style: none;
  color: #ffffff;
}
.newSpanStyle{
  display: none;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 150px;
  height: 15%;
  background-color: #109CEB;
}

.logo {
  width: 40%;
  height: 80px;
}

.logotipo {
  width: 50%;
  height: 60px;
  margin-top: 20px;
  margin-left: 3%;
}

footer {
  background-image: url("imagesGhibli/cardBack.png");
  position: fixed;
  width: 100%;
  height: 30px;
  bottom: 0%;
}
.foot {
  font-family: "Poppins", sans-serif;
  text-align: right;
  margin-right: 3%;
  color: #fff;
  font-weight: bolder;
}
.landingText {
  font-family: "Poppins", sans-serif;
  color: #fff;
  padding-top: 3%;
  text-align: center;
  margin: 0%;
}
.title {
  font-weight: bold;
}
.welcome {
  width: 80%;
  font-size: 12pt;
  margin-left: 10%;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cardTitle {
  display: none;
}

.cardFilms,
.cardDirectors,
.cardCharacters {
  margin: 5%;
  display: flex;
  flex-direction: column;
  /*flex-basis: 25%;*/
  justify-content: space-evenly;
  padding-top: 2%;
  padding-bottom: 0.1%;
  padding-left: 2%;
  padding-right: 2%;
  width: 70%;
  min-width: 150px;
  height: 120px;
  border: 2px;
  border-style: solid;
  border-color: #109CEB;
  border-radius: 30px;
  background-image: url("imagesGhibli/cardBack.png");
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 12pt;
  text-align: center;
}

.btn {
  border-radius: 50px;
  border-color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 10pt;
  width: 50%;
  color: black;
  margin-left: 25%;
  background-color: #fff;
}
.btn:hover{
  color: #109CEB;
}
.btnFilms {
  width: 30px;
  height: 30px;
  margin-bottom: 0%;
}
.btnDirectors {
  width: 25px;
  height: 30px;
}
.btnCharacters {
  width: 20px;
  height: 30px;
}
.prettyimages{
  display: none;
}
.directors{
  display: flex;
  margin: 5%;
  padding-top: 2%;
  padding-bottom: 0.1%;
  padding-left: 2%;
  padding-right: 2%;
  width: 90%;
  min-width: 150px;
  height: 100%;
  border: 2px;
  border-style: solid;
  border-color: #109CEB;
  border-radius: 30px;
  background-image: url("imagesGhibli/cardBack.png");
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 12pt;
  text-align: center;
}
.directorsList{
  list-style: none;
}