body {
  background-image: url("imagesGhibli/totoroBack.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: fixed;
  background-size: 40%;
}
.main{
  width: 1920px;
}
.header {
  display: flex;
  flex-direction: row;
  width: 1920px;
  min-width: 720px;
  height: 20%;
  background-color: #109CEB;
}

.logo {
  width: 439px;
  height: 189px;
}

.logotipo {
  width: 560px;
  height: 140px;
  margin-left: 240px;
  margin-top: 3%;
}

.landingText {
  font-family: "Poppins", sans-serif;
  color: #fff;
  padding: 3%;
}

.title {
  font-size: 36pt;
}

.welcome {
  width: 55%;
  font-size: 18pt;
  margin-left: 22%;
}

.cards {
  flex-wrap: nowrap;
}

.cardTitle {
  display:block;
  font-size: 16pt;
  font-weight: bold;
}

.cardText {
  font-size: 14pt;
}

.cardFilms,
.cardDirectors,
.cardCharacters {
  flex-basis: 20%;
  justify-content: space-around;
  padding-top: 1%;
  padding-bottom: 0.5%;
  height: 173px;
}

.btn {
  font-size: 13pt;
}

.btn:hover{
  color: #109CEB; 
}

.btnFilms {
  width: 30px;
  height: 30px;
  justify-content: center;
  margin-left: 1%;
}

.wallTitle {
  display: block;
  margin-left: 62px;
  margin-top: 60px;
  font-size: 36pt;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: #fff;
}


.wallimages {
  display: block;
  display: flex;
  flex-direction: row;
  /*flex-basis: 25%;*/
}

.gedo,
.chihiro,
.totoro,
.ponyo {
  display: block;
  width: 380px;
  height: 190px;
  justify-content: space-evenly;
  margin: 25px;
  margin-top: 50px;
  margin-bottom: 100px;
  border-radius: 5px;
}

.foot {
  margin-right: 1%;
}

.gedo {
  display: block;
  margin-left: 110px;
}
.prettyimages{
  display: block;
}
li:hover{
  color: #109CEB;
}
